header{
    margin: 5px;
    background-color: aqua;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1,4rem;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}